body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button:focus {outline:0;}

/**** Header ****/

header {
    background-color: #51436f;
    height: 150px;
    margin-top: -21px;
}
header ul {
    margin-top: 50px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    }

header li a {
     text-decoration: none;
     display: inline;
     margin-left: 50px;
     color: white;
}

header li a:hover{
     text-decoration: none;
     display: inline;
     margin-left: 50px;
     color: #79d888;
}

header ul .navMenu {
    text-decoration: none;
     display: inline;
     margin-left: 50px;
     color: white;
}

header h1 {
    color: white;
    padding-top: -15px;
}

header .avatar {
    float: right;
    margin-top: -100px;
}

.MenuBar {
    height: 30px;
    width: 40px;
    margin-top: 20px;
}

.title {
    padding-top: 10px;
}

/**** Payment ****/
#PaymentPanel {
    margin-top: -20px;
    background-color: #5d4a79;
    color: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.slideOpen {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#PaymentPanel h2 {
    font-size: 50px;
    padding-left: 30px;
}

#PaymentPanel.slideOpen {
     background-color: #5d4a79;
     height: 400px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.paymentSlide {
    padding-left:  900px;
}

.slideOpen .paymentSlide {
    margin-top: 200px;
    padding-left:  900px;
}

.slideOpen .PaymentTitle { 
margin-left: 300px;
}

#PaymentPanel p, h1 {
    margin-left: 50px;
}

#PaymentPanel p {
padding-top: 30px;
}

#PaymentPanel h1 {
padding-bottom: 30px;
}

.paymentTool {
    list-style: none;
    display: flex;
    flex-direction: row;
    float: right;
}

.tool {
    padding-left: 10px;
}

.paymentTool li {
    padding-right: 20px;
    margin-top: -20px;
    border-left: thick solid #fff;
}

.Check , .Master, .Visa, .Paypal {
    height: 30px;
    width: 30px;
}

.Fail {
    height: 30px;
    width: 30px;
}

/**** Categories ****/

#chart {
    background-color: #5d4a79;
    color: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.categoriesSlide {
    background-color: #5d4a79;
    height: 200px;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.slideOpen {
    background-color: #5d4a79;
    height: 300px; 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#chart.slideOpen {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.slideOpen .categoriesSlide{
    padding-top: 10px; 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.arrowup {
    height: 40px;
    width: 40px;
    background-color: #5d4a79;
    border-color: #5d4a79;
    color: white;
}

.arrowdown {
    height: 40px;
    width: 40px;
    background-color: #5d4a79;
    border: none;
    margin: 0px;
    padding: 0px;
    border-color: #5d4a79;
    color: white;
}


.Pi {
    height: 300px;
    width:  400px;
    border: 1px black solid;
    float: left;
    margin: 30px 30px;
}

.Bar {
    height: 300px;
    width:  400px;
    border: 1px black solid;
    float: left;
    margin: 30px 30px;
}

.clear {
    clear: both;
}