body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button:focus {outline:0;}

/**** Header ****/

header {
    background-color:  #b045cb;
    background: -webkit-linear-gradient(left,  #b045cb ,  #6e1dba); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #b045cb,  #6e1dba); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #b045cb,  #6e1dba); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,  #b045cb,  #6e1dba); /* Standard syntax */
    margin-top: -21px;
}
header ul {
    padding-top: 25px;
    padding-bottom: 20px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    }

header li a {
    text-decoration: none;
    color: white;
}
header .firstHeaderItem:hover{
    font-size: 12px;
     text-decoration: none;
     display: inline;
     padding-left: 130px;
     color: white;
}

header .firstHeaderItem{
    font-size: 12px;
     text-decoration: none;
     display: inline;
     padding-left: 130px;
     color: white;
}

header .secondHeaderItem, .thirdHeaderItem{
    font-size: 12px;
     text-decoration: none;
     display: inline;
     padding-left: 170px;
     color: white;
}

header li a:hover{
     text-decoration: none;
     display: inline;
     color: #79d888;
}

header ul .navMenu {
    text-decoration: none;
     display: inline;
     color: white;
}

header h1 {
    color: white;
    font-size: 30px;
    margin-left: 20px;
    padding-top: 5px;
}

header img {
    padding-right: 10px;
}

header .avatar {
    margin-top: -20px;
}

/*header .avatar {
    float: right;
    margin-top: -100px;
} */

.menuIcons {
    float: right;
    margin-top: -155px;
}

.Question , .Bell, .Search {
    height: 30px;
    width: 40px; 
}

.MenuBar {
    height: 30px;
    width: 40px;
    margin-top: 20px;
}

header ul {
      clear: both;
}

/**** Payment ****/
#PaymentPanel {
    margin-top: -20px;
    height: 190px;
    background-color: #e324e3;
    background: -webkit-linear-gradient(left, #e324e3 , #691dba); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e324e3, #691dba); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e324e3, #691dba); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e324e3 , #691dba); /* Standard syntax */
    color: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#PaymentPanel.slideOpen {
    margin-top: -20px;
    height: 400px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#PaymentPanel h2 {
    font-size: 65px;
    margin-left: 75px;
}

.paymentSlide {
    padding-left:  900px;
    margin-top: -35px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.slideOpen .paymentSlide {
    padding-left: 900px;
    padding-top: 210px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menuItem:hover{
    color: #79d888;
}

#PaymentPanel p, h1 {
    margin-left: 50px;
}

.PaymentTitle {
    padding-top: 35px;
    padding-left: 75px;
    font-size: 20px;
}

.PaymentTitle button {
    border: none;
    background-color: #e324e3;
    color: white;
}

.paymentSum {
margin-top: 20px;
font-size: 50px;
}

.paymentTool {
    display: none;

}

.slideOpen .paymentTool {
    padding-top: 100px;
    padding-right: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    float: right;
}

.tool {
    padding-left: 15px;
}

.paymentTool li {
    padding-right: 30px;
    margin-top: -20px;
    border-left: thick solid #fff;
}

.Check , .Master, .Visa, .Paypal {
    height: 30px;
    width: 30px;
}

.Fail {
    height: 30px;
    width: 30px;
}

.Narrative {
    width: 300px;
}

 .table {
    width: 2000px;
}

.paymentToggle {
    margin-left: 20px;
}

/**** Categories ****/

#chart {
    margin-top: -20px;
    height: 300px;
    background-color: #e324e3;
    background: -webkit-linear-gradient(left, #e324e3 , #691dba); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e324e3, #691dba); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e324e3, #691dba); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e324e3 , #691dba); /* Standard syntax */
    color: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#chart.slideOpen{
    margin-top: -20px;
    height: 400px;
    background-color: #e324e3;
    background: -webkit-linear-gradient(left, #e324e3 , #691dba); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e324e3, #691dba); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e324e3, #691dba); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e324e3 , #691dba); /* Standard syntax */
    color: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.categoriesSlide {
    padding-top: 200px;
    padding-left: 900px;
    background-color: #e324e3;
    background: -webkit-linear-gradient(left, #e324e3 , #691dba); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e324e3, #691dba); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e324e3, #691dba); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e324e3 , #691dba); /* Standard syntax */
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.slideOpen {
    background-color: #5d4a79;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.slideOpen .categoriesSlide{
    padding-top: 290px;
    padding-left: 900px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.arrowup {
    height: 15px;
    width: 15px;
    background-color: #5d4a79;
    border-color: #5d4a79;
    color: white;
}

.arrowdown {
    height: 15px;
    width: 15px;
    background-color: #5d4a79;
    border: none;
    margin: 0px;
    padding: 0px;
    border-color: #5d4a79;
    color: white;
}


.Pi {
    height: 300px;
    width:  400px;
    border: 1px black solid;
    float: left;
    margin: 30px 30px;
}

.Bar {
    height: 300px;
    width:  400px;
    border: 1px black solid;
    float: left;
    margin: 30px 30px;
}

.clear {
    clear: both;
}